<!doctype html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>

<body>
<% include ./partials/navbar %>
<div class="page-wrapper">

    <video id="video-background" preload muted autoplay loop>
        <source src="http://www.expertsoftwaretest.com/wp-content/uploads/2016/02/graph.mp4" type="video/mp4">
    </video>

    <div class="jumbotron" style="background: rgba(200, 54, 54, 0);  ">
        <div>
            <img style="width: 20%"
                 src="http://www.expertsoftwaretest.ie/wp-content/uploads/revslider/HmPg/sliderlogTo.png">
            <br/>
            <br/>
            <p style="color: black; font-size: 24px">Test Expertise for Software Development Teams</p>
        </div>
    </div>
    <div class="container-fluid">
        <h1 style="text-decoration: underline">Professional Test Services</h1>
        <br/>
        <div class="container" style="text-align: justify; font-size: 18px">
            <p>With over 20 years software testing experience, we provide professional software test services to
                software
                development teams. We are specialists in regression test execution in iterative and incremental software
                development environments.</p>
            <p>We provide ISTQB trained software test professionals to our clients to achieve well-defined software
                testing
                goals. As part of our service, we provide an experienced test delivery manager to plan, implement and
                take
                complete ownership of the test project delivery.</p>
            <p>We use on-line life-cycle management tools to facilitate complete process transparency for our clients.
                We
                are passionate about software testing and are dedicated to the profession in order to ensure that our
                clients develop and deploy great software products.</p>
            <p>Engage with experts, develop your product efficiently, deliver great product.</p>
            <br/>
        </div>
        <h3><i>Engage with ISC Ltd. and Succeed.</i></h3>
    </div>
    <br/><br/><br/>
    <div style="background-color: transparent" class="container-fluid">
        <img style="width: 10%" src="http://www.expertsoftwaretest.com/wp-content/uploads/2016/02/white_logo.png">
        <br /><br />
        <div class="container" style="border: thin solid #adafae; width: 200px;">
            <span style="color: #adafae">
                <i class="fa fa-facebook-square fa-4x"> </i>
                <i class="fa fa-linkedin-square fa-4x"> </i>
                <i class="fa fa-twitter-square fa-4x"></i>
            </span>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>

</body>

</html>